<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/profile_main">
    <title>Your Profile - User Name</title>
</head>

<body>
    <div id="userId" style="display: none;"><%= document._id %></div>
    <div class="header_container">
        <form action="/" method="get">
            <input type="submit" value="Home" class="nav_button">
        </form>
        <button class="nav_button" type="submit" id="editProfile" data-userId="<%= document._id %>">Edit
            Profile</button>
    </div>

    <div class="main_container">
        <div class="profile_view">
            <div>
                <%= document.firstname %>
                    <%= document.lastname %>
            </div>

            <div>Followers == <%= document.followers %> Following == <%= document.following %>
            </div>
            <img src="<%= document.profilePicUrl %>" alt="profilePicUrl" width="50px" height="50px"
                style="border-radius: 50%;">
        </div>

        <div id="usertviewlist">


        </div>
    </div>

    <div id="userUploads"></div>
    <script src="/js/utils"></script>
    <script src="/js/profile_main"></script>
</body>

</html>