<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/recordsymbol.svg" type="image/x-icon">
    <link rel="stylesheet" id="root-css" href="/css/root">
    <link rel="stylesheet" href="/css/global-header">
    <link rel="stylesheet" href="/css/global-footer">
    <link rel="stylesheet" href="/css/main">
    <link rel="stylesheet" href="/css/settings">
    <link rel="stylesheet" href="/css/<%= css %>">
    <title>Settings</title>
</head>

<body>
    <%- include('layouts/global/header') %>

        <main class="container-main">
            <section class="left-sidenav">
                <!-- This will be the left navigation -->
                <ul>
                    <li class="<%= classes.default %>"><a href="/user/settings/default">Account</a></li>
                    <li class="<%= classes.display %>"><a href="/user/settings/display">Display</a></li>
                    <li class="<%= classes.dashboard %>"><a href="/user/settings/dashboard">Dashboard</a></li>
                    <li class="<%= classes.membership %>"><a href="/user/settings/membership">Membership</a></li>
                </ul>

            </section>
            <section class="wrapper-main" id="wrapper-main">
                <!-- this is where the videos will be -->
                <% if (page=="default" ) { %>
                    <%- include('./layouts/settings/account') %>
                        <% } %>
                            <% if (page=="dashboard" ) { %>
                                <%- include('./layouts/settings/dashboard') %>
                                    <% } %>
                                        <% if (page=="display" ) { %>
                                            <%- include('./layouts/settings/display') %>
                                                <% } %>
                                                    <% if (page=="membership" ) { %>
                                                        <%- include('./layouts/settings/membership') %>
                                                            <% } %>
            </section>
        </main>

        <!-- <%- include('layouts/global/footer') %> -->
        <script src="/js/utils"></script>
        <script src="/js/settings-utils"></script>
        <script src="/js/settings"></script>
</body>

</html>