<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/recordsymbol.png" type="image/x-icon">
    <link rel="stylesheet" id="root-css" href="/css/root.css">
    <link rel="stylesheet" href="/css/global-header.css">
    <link rel="stylesheet" href="/css/global-footer.css">
    <link rel="stylesheet" href="/css/tviewpc.css">
    <link rel="stylesheet" href="/css/tview_object.css">
    <link rel="stylesheet" href="/css/comments.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tview ~ <%= document.title %>
    </title>
</head>

<body>
    <%- include("./layouts/global/header") %>


        <main class="main_container">
            <div class="media_div">
                <div class="player_div" id="player_div">
                    <video src="<%= document.streamUrl %>" id="video_player"></video>
                    <div class="video-overlay hidden" id="video_player_overlay">
                        <div class="overlay-title">
                            <h2 id="video_h2">
                                <%= document.title %>
                            </h2>
                            <div class="timestamp-progress-bar">
                                <div class="timestamps">
                                    <div class="currentTime-placeholder" id="currentTime-placeholder">00:00:00</div>
                                    <div class="duration-placeholder" id="duration-placeholder">00:00:00</div>
                                </div>
                                <div class="animated-placeholder">
                                    <div class="animated-currentTime" id="animated-currentTime"></div>
                                </div>
                            </div>
                            <div class="bottom-overlay-navigation">
                                <div class="left-bottom-overlay-navigation">
                                    <ul>
                                        <li><button id="previous">
                                                <img src="/graphics/previous" alt="tview_graphics" />
                                            </button></li>
                                        <li><button id="play-pause">
                                                <img src="/graphics/play" id="play"
                                                    alt="tview_graphics" />
                                                <img src="/graphics/pause" id="pause" class="hidden" alt="tview_graphics" />
                                            </button></li>
                                        <li><button id="next">
                                                <img src="/graphics/next" alt="tview_graphics" />
                                            </button></li>
                                        <li><button id="replay">
                                                <img src="/graphics/replay" alt="tview_graphics" />
                                            </button></li>
                                    </ul>
                                </div>
                                <div class="right-bottom-overlay-navigation">
                                    <ul>
                                        <li><button id="download">
                                                <img src="/graphics/download" alt="tview_graphics" />
                                            </button></li>
                                        <li><button id="volume">
                                                <img src="/graphics/volume" id="unmuted" alt="tview_graphics" />
                                                <img src="/graphics/muted" id="muted" class="hidden"
                                                    alt="tview_graphics" />
                                            </button></li>
                                        <li><button id="settings">
                                                <img src="/graphics/settings" alt="tview_graphics" />
                                                <div class="hidden settings_overlay" id="settings_overlay">
                                                    <div class="quality-radio">
                                                        <label for="1080p">1080p</label>
                                                        <input type="radio" name="quality" id="1080p" value="1080p">
                                                    </div>
                                                    <div class="quality-radio">
                                                        <label for="720p">720p</label>
                                                        <input type="radio" name="quality" id="720p" value="720p">
                                                    </div>
                                                    <div class="quality-radio">
                                                        <label for="480p">480p</label>
                                                        <input type="radio" name="quality" id="480p" value="480p">
                                                    </div>
                                                    <div class="quality-radio">
                                                        <label for="360p">360p</label>
                                                        <input type="radio" name="quality" id="360p" value="360p">
                                                    </div>
                                                    <div class="quality-radio">
                                                        <label for="240p">240p</label>
                                                        <input type="radio" name="quality" id="240p" value="240p">
                                                    </div>
                                                    <div class="quality-radio">
                                                        <label for="144p">144p</label>
                                                        <input type="radio" name="quality" id="144p" value="144p">
                                                    </div>
                                                </div>
                                            </button></li>
                                        <li><button id="mini-player">
                                                <img src="/graphics/mini-player" alt="tview_graphics" />
                                            </button></li>
                                        <li><button id="full-screen">
                                                <img src="/graphics/full-screen" alt="tview_graphics" />
                                            </button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media_details">
                    <a href="/user/profile/<%= document.creatorId %>" class="creator_url" id="creator_url">
                        <input type="hidden" name="creatorId" id="input-creatorId"
                            data-creatorId="<%= document.creatorId %>">
                        <div class="img_prof">
                            <img class="profile_image" src="<%= document.creatorProfilePic %>" alt="profile_image">
                        </div>
                        <div class="creator_details">
                            <span id="creator_name"></span>
                        </div>
                        <span id="subscribers-count" style="font-size: 13px;"></span>
                    </a>
                    <div class="title_des">
                        <div class="like-sub">
                            <p class="video_title">
                                <%= document.title %>
                            </p>
                            <div class="likes" id="likes-count">
                                <button type="button" id="like-btn">
                                    <img src="/graphics/like-svgrepo-com" alt="like-btn">
                                </button>
                                <p>
                                    <%= document.likes %> likes
                                </p>
                            </div>
                            <script>
                                const likes = document.getElementById("likes-count").textContent;
                                const likescount = likes.trim().slice(0, likes.indexOf("likes"))
                                if (likescount == 1) {
                                    document.getElementById("likes-count").textContent = `${likescount} like`
                                }
                            </script>
                        </div>
                        <div class="subscribe-btn">
                            <button type="button" id="subscribe-btn">Subscribe</button>
                        </div>
                    </div>
                </div>
                <div class="media_description">
                    <div class="top-shelf">
                        <p class="video_des">
                            <%= document.description %>
                        </p>
                        <div class="views" id="views-count">
                            <%= document.views %> views
                        </div>
                        <script>
                            const views = document.getElementById("views-count").textContent;
                            const count = views.trim().slice(0, views.indexOf("views"))

                            if (count == 1) {
                                document.getElementById("views-count").textContent = `${count} view`
                            }
                        </script>
                        <div class="comments">
                            <%= document.comments %> comments
                        </div>
                    </div>
                    <div><%- include('./layouts/comments/comments') %></div>
                </div>
            </div>
            <div class="recommendations">
                <div class="refparams_wrapper" id="refparams_wrapper">
                    <div class="refparams" id="license">
                        <%= document.license %>
                    </div>
                    <div class="refparams" id="tags">
                        <%= document.tags %>
                    </div>
                    <div class="refparams" id="category">
                        <%= document.category %>
                    </div>
                </div>
                <div id="usertviewlist">


                </div>
            </div>
        </main>

        <!-- <%- include("./layouts/global/footer") %> -->

        <script src="/js/utils"></script>
        <script>
            const elementdd = document.getElementById("creator_url").getAttribute("href");
            const creatorId = elementdd.slice(elementdd.indexOf("profile/") + 8);

            getUserProfile(creatorId)
                .then(res => {
                    document.getElementById("creator_name").textContent = `${res.document[0].firstname} ${res.document[0].lastname}`;
                    document.getElementById("subscribers-count").textContent = `${res.document[0].followers} ${res.document[0].followers == 1 ? "subscriber" : "subcribers"}`;
                })
        </script>
        <script src="/js/class_tview"></script>
        <script src="/js/tview"></script>
</body>

</html>